.dashboard {
  padding: 1rem 8rem;
}

@media only screen and (max-width: 700px) {
  .dashboard {
    padding: 1rem 4rem;
  }
}

.user {
  color: white;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
}

.user-icon {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .user-icon {
    display: flex;
    justify-content: space-between;
  }
}

.user-icon .svg {
  height: 3rem;
  width: 3rem;
}

.username {
  font-size: 1.8rem;
  margin-left: 1.5rem;
}

.dashboard-header {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3rem;
}

.balance-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
  .balance-group {
    display: block;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  }

.balance {
  /* background-color: var(--bg-color); */
  padding: 4rem 3rem;
  /* border: 1px solid var(--primary-yellow); */
  background-color: var(--primary-black);
  border-radius: 1rem;
  flex: 0 0 30%;
}

@media only screen and (max-width: 500px) {
  .balance {
    margin-bottom: 3rem;
  }
}

.amount-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.amount-svg {
  height: 4.5rem;
  fill: var(--primary-yellow);
  flex: 0 0 20%;
}

.amount {
  font-size: 3rem;
  padding-top: 1.5rem;
  font-weight: 600;
  color: white;
  text-align: left;
  flex: 0 0 70%;
}

.amount-type {
  font-size: 1.4rem;
  padding-top: 1rem;
  font-weight: 500;
  color: white;
}

.status-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
  .status-group {
    display: block;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
}

.status {
  flex: 0 0 48%;
  padding: 2rem 2rem;
  border-radius: 1rem;
  color: white;
}

@media only screen and (max-width: 500px) {
  .status {
    margin-bottom: 3rem;
  }
}

.status-header {
  font-size: 1.8rem;
  background-color: var(--primary-blue);
  color: white;
  border-radius: 5rem;
  padding: 1rem;
  padding-left: 2rem;
}

.status-details {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  margin: 2rem 1rem;
  margin-bottom: 1rem;
}

.wallet-add {
  margin-bottom: 5rem;
  text-align: center;
}

#myInput {
  padding: 1rem;
  /* display: block; */
  /* width: 100%; */
  font-family: inherit;
  border: 1px solid var(--primary-yellow);
  border-radius: 1rem;
  font-size: 1.8rem;
  max-width: 50rem;
  min-width: 300px;
  text-align: center;

}

#copyBtn {
  /* display: inline-block; */
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  /* font-weight: bold; */
  font-size: 1.8rem;
  text-decoration: none;
  background-color: var(--primary-blue);
  color: white;
  margin-top: 2rem;
  margin-left: 1rem;
  font-family: inherit;
  outline: none;
}