@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-blue: #242582;
  --primary-yellow: #F7921A;
  --primary-black: #282833;
  --bg-color: #F5F5F5;
  --space: 0.25rem;
  /* --secondary-blue: #121727; */
  --secondary-blue: #131419;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%; 
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--secondary-blue);
}

.center {
  text-align: center;
}

/* Navigation Styling */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  padding-right: 7rem;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .nav {
    padding: 1rem 3rem;
    padding-left: 2rem;
  }  
}

.nav-image img {
  width: 12rem;
}

.nav-links li {
  display: inline-block;
  font-size: 2rem;
  padding-right: 2rem;
}

.nav-links a {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}

#login {
  padding: 0.5rem 2.5rem;
  color: white;
  font-weight: bold;
  /* background-color: #242582; */
}


#menuButton {
  display: none;
  font-size: 3rem;
  color: var(--primary-blue)
}

.nav-links .closebtn {
  display: none;
}

@media only screen and (max-width: 800px) {
  #menuButton {
    display: block;
  }

  .nav-links .closebtn {
    display: block;
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 2rem;
  }

  .nav-links {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: var(--secondary-blue); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 60px 0; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /* position: relative; */
    /* padding: 2rem */
  }

  .nav-links a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 2.2rem;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-weight: 400;
  }

  .nav-links ul, .nav-links li {
    display: block;
    padding: 2rem 0; 
  }

  .nav-links ul {
    padding-left:  2rem;
    padding-right:  2rem;
  }

  .nav-links a:hover {
    color: var(--primary-yellow);
  }
  
}

/* Button Styling */
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  /* width: fit-content */
}

.btn-primary {
  background-color: var(--primary-yellow);
  color: white;
}

.btn-blue {
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue)
}

.btn-yellow {
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  background-color: var(--primary-yellow);
}

/* Billboard/Hero Stylingg */
.billboard {
  height: 75vh;
  min-height: 30rem;
  padding: 0 5rem;
  background-position: 70%;
}

.billboard-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
}

.billboard-header {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--primary-yellow);
  /* color: white; */
  margin-bottom: 2rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
  .billboard-header {
    text-align: center;
  }

  .billboard-header {
    font-size: 3.5rem;
    }

  .billboard-content {
    padding-top: 15rem;
  }

  .content-2 {
    padding-top: 12rem;
  }    
}

.billboard-text {
  font-size: 2rem;
  /* font-weight: 500; */
  color: white;
  padding: 1rem 10rem 3rem 10rem;
  text-align: center;
  line-height: 1.8;
}

@media only screen and (max-width: 600px) {
  .billboard-text {
    font-size: 2.5rem;
    padding: 1rem 1rem 3rem 1rem;
    line-height: 1.8;
  }
  
}

.billboard-content a {
  text-decoration: none;
}

/* About Section */
.about {
  padding: 8rem;
}

.about p {
  color: white;
}

.about-group {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .about {
    padding: 4rem;
  }
  
  .about-group {
    display: block;
  }
}

.main-heading {
  font-size: 3rem;
  color: var(--primary-yellow);
  padding-bottom: 3rem;
  font-weight: 400;
}

.about-text {
  /* flex: 0 0 50%; */
  padding-right: 1rem;
}

.about-text a {
  display: inline-block;
  margin: 4rem 0;
}

.text {
  font-size: 1.8rem;
  line-height: 2;
  color: white;
}

.about-image {
  flex: 0 0 45%;
}

.about-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}


/* How to Invest  */
.steps {
  padding: 5rem 10rem;
  background-color: var(--secondary-blue);
  border-top: 1px solid var(--primary-yellow);
  border-bottom: 1px solid var(--primary-yellow);
}


.sub-heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: white;
}

.steps-group {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

@media only screen and (max-width: 600px) {
  .steps {
    padding: 4rem;
  }
  
  .steps-group {
    display: block;
  }

  .step {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.step {
  /* border: 1px solid var(--primary-yellow); */
  border-radius: 3rem;
  padding: 3rem;
}

.step-svg {
  width: 15rem;
  text-align: center;
  margin: 0 auto;
  border: 2px solid var(--primary-yellow);
  border-radius: 10rem;
  padding: 3rem;
}

.step-text {
  font-size: 2rem;
  padding-top: 2rem;
  color: var(--primary-yellow);
  /* font-weight: bold; */
  text-align: center;
}

/* Why Invest with us */
.why-invest {
  padding: 6rem 12rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.usp {
  padding: 5rem 4rem;
  text-align: center;
  align-items: center;
  /* border: 0.5px solid var(--primary-yellow); */
  margin: 2rem 2rem;
  flex: 1 1 0px;
  background-color: var(--primary-black);
  box-shadow: 2px 2px 2px 1px var(--primary-yellow);
}

@media only screen and (max-width: 800px) {
  .usp {
    /* display: block; */
    padding: 4rem 2rem;
    margin: 2rem 0;
  }

  .why-invest {
    padding: 4rem;
  }

  .row {
    display: block;
  }

  .usp-svg {
    height: 4rem;
    width: 5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}


.usp-svg {
  width: 5rem;
  height: 5rem;
  fill: var(--primary-yellow);
  text-align: center;
  margin: auto;
}

.usp-text {
  margin-top: 3rem;
  font-size: 1.6rem;
}

.usp-othertext {
  color: white;
}

.usp-headingtext {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--primary-yellow)
}

/* Investment Plans */
.investments {
  padding: 4rem 8rem;
}

@media only screen and (max-width: 600px) {
  .investments {
    padding: 4rem
  }
}


.invest-group {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .invest-group {
    display: block;
  }

}

.investment-plan {
  background-color: var(--secondary-blue);
  padding: 4rem 4rem;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 1rem;
  margin-bottom: 2rem;
  width: 33%;
}

.investment-plan a {
  text-align: center; 
}

.invest-price {
  font-size: 2.5rem;
  color: var(--primary-blue);
  font-weight: 500;
  padding: 1rem 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .invest-price {
    font-size: 3rem;
  }

  .investment-plan {
    width: 100%;
  }
}

.invest-type {
  /* font-weight: bold; */
  color: var(--primary-yellow);
  font-size: 2.25rem;
}

.plan-list {
  text-align: left;
  padding: 3rem 0;
}

.invest-details {
  padding: 0.5rem 0.5rem;
  color: white;
}

/* New Invest */
.invest-percent {
  font-size: 5rem;
  color: white;
  font-weight: 600;
  margin: 2rem 0;
}

.invest-p p {
  color: white;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1rem;
}

.invest-size {
  display: flex;
  justify-content: space-between;
  color: var(--primary-yellow);
  margin: 3rem 0;
  font-weight: bold;
  font-size: 1.4rem;
}

/* Testimonials Section */

.testimony-group {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .testimony-group {
    display: block;
  }

}

.testimonials {
  padding: 8rem;
  justify-content: space-between;
  background-color: var(--secondary-blue);
  border-top: 1px solid var(--primary-yellow);
  border-bottom: 1px solid var(--primary-yellow);
}

@media only screen and (max-width: 800px) {
  .testimonials {
    padding: 4rem;
  }

  .testimony {
    padding: 3rem 2rem;
  }
}


.testimony {
  text-align: center;
  padding: 3rem 3rem;
}

.testimony-image {
  background-color: var(--primary-black);
  border-radius: 100px; 
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}

.testimony-image img {
  width: 100%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 100px; 

  /* object-position: bottom;   */
}

.testimony-details {
  padding: 3rem 0;
}

.testimony-details {
  color: white;
}

.testimony-name {
  font-size: 2rem;
  color: var(--primary-blue);
  font-weight: 500;
}

.testimony-location {
  padding-top: .5rem;
  font-style: italic;
  font-size: 1.4rem;
  color: var(--primary-yellow);
  font-weight: 500;
}

.testimony-details-text {
  font-size: 1.8rem;
  padding-top: 1rem;
}

/* Videp Testimonial */
.video-testimonials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

video {
  width: 100%;
}

.calltoact {
  padding: 6rem 8rem;
  background-color: var(--primary-yellow);
}

@media only screen and (max-width: 600px) {
  .calltoact {
    padding: 3rem 4rem;
    background-color: var(--primary-yellow);
  }
}

.cta {
  text-align: center;
}

.cta-heading {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.cta-text {
  font-size: 2.5rem; 
  color: white;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .cta-heading {
    font-size: 3rem
  }

  .cta-text {
    font-size: 2rem;
  }
}


.cta .btn {
  margin-top: 3rem;
}

/* Footer Styling */

.footer {
  padding: 6rem 8rem;
  background-color: var(--secondary-blue);
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: block;
    padding: 4rem 3rem;
  }

  .footer-contact {
    margin-top: 2rem;
  }
}


.footer-heading {
  font-size: 2rem;
  color: var(--primary-yellow);
  padding-bottom: 1rem;
  font-weight: 400;
}

.footer-link-group, .footer-link-group a {
  color: white;
}

.footer-link-group li {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 1.5;
  list-style: none;
}

.copyright {
  background-color: black;
}

.copyright-text {
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem 1rem;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 55.5%; 
    font-family: 'Poppins', sans-serif;
  }
}