{% if messages %}

<head>
  <style>
    #messages {
      font-size: 1.6rem;
      margin: 1rem auto;
      text-align: center;
      color: #1a89f7;
      border: 1px solid white;
      /* width: max-content; */
      text-align: center;
      padding: 10px;
    }
  </style>
</head>

<div id="messages">
    {% for message in messages %}
    <span class="message" style="font-size: 1.8rem;">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            Error:
        {% else %}
            {{ message.tags|title }}
        {% endif %}
    </span>
    {{message}}

    {% endfor %}
</div>
{% endif %}