{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d206b6bfc8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <title>Kraken Brokerage | Dashboard</title>
</head>

<body>
  <div class="main">
    <div class="nav">
      <div class="nav-logo">
        <a href="{% url 'dashboard' %}"><img src="https://i.ibb.co/V2RNxqX/kraken-black-png.png" alt="kraken-black-png" border="0"></a>
        <!-- <img src="https://i.ibb.co/V2RNxqX/kraken-black-png.png" alt="kraken-black-png" border="0"> -->
      </div>

      <div class="nav-links">
        <ul>
          <li class="nav-link dash-link">
            <a href="{% url 'dashboard' %}">
              <i class="bi bi-speedometer2"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'deposit' %}">
              <i class="bi bi-arrow-bar-up"></i>
              <p>Deposit Funds</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'withdraw' %}">
              <i class="bi bi-arrow-clockwise"></i>
              <p>Withdraw Funds</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'transaction' %}">
              <i class="bi bi-arrow-clockwise"></i>
              <p>Transaction Log</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'investment' %}" class="dark-link">
              <i class="bi bi-cash"></i>
              <p>Investments</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'notification' %}"  class="dark-link">
              <i class="bi bi-envelope-fill"></i>
              <p>Notification</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'support-ticket' %}" class="dark-link">
              <i class="bi bi-speedometer2"></i>
              <p>Support Ticket</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'referrals' %}" class="dark-link">
              <i class="bi bi-people-fill"></i>
              <p>Referral</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'profile' %}" class="dark-link">
              <i class="bi bi-arrow-bar-up"></i>
              <p>Profile</p>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'logout' %}" class="dark-link">
              <i class="bi bi-box-arrow-right"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <main class="content">
      <div class="content-header">
        <div class="nav-list">
          <i class="bi bi-list"></i>
        </div>

        <div class="nav-details">
          <div class="Language">LANGUAGE</div>
          <div class="mail-icon"><i class="bi bi-envelope-fill"></i></div>
          <div class="nav-details-name">{{ user.first_name }}</div>
        </div>
      </div>

      <div class="dashboard">
        {% block content %} {% endblock %}
      </div>

      <footer>
        <p>2022 Leo Brokerage - Your Trusted Crypto Investment Broker | All Rights Reserved</p>
      </footer>
    </main>

  </div>

  <!-- Scripts -->
  <script src="{% static 'js/dash.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>