{% extends 'base2.html' %}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'css/dashboard2.css' %}">

<section class="dash-card-group dash-card-transaction">
  <div class="dash-card dash-card-profile">
    <p class="dash-card-heading">Account Details</p>
    <div class="dash-card-content">
      <ul class="profile-details-list">
        <li>
          First Name: <strong>{{user.first_name}}</strong>
        </li>
        <li>
          Last Name: <strong>{{user.last_name}}</strong>
        </li>
        <li>
          Email: <strong>{{user.username}}</strong>
        </li>
        <li>
          Balance: <strong>${{user.balance.available_balance}}</strong>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="dash-card dash-card-profile">
    <p class="dash-card-heading">Profile Photo</p>
    <div class="dash-card-content">
      
    </div>
  </div> -->

  <div class="dash-card dash-card-profile">
    <p class="dash-card-heading">Update Profile</p>
    <div class="dash-card-content">
      <form method="POST" action="{% url 'profile' %}">
        {% csrf_token%}
        {% if user.is_authenticated %}
          <input type="hidden" name="username" value="{{ user.username }}">
        {% endif %}
        
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" name="phone" placeholder="Phone" required>
        </div>

        <div class="form-group">
          <label>Addres</label>
          <input type="text" name="address" placeholder="Address" required>
        </div>

        <div class="form-group">
          <label>Country</label>
          <input type="text" name="country" placeholder="Country" required>
        </div>

        <div class="form-group">
          <label>Wallet</label>
          <input type="text" name="wallet" placeholder="Wallet" required>
        </div>

        <input type="submit" class="copy-btn" value="Update Profile">
      </form>
    </div>
  </div>
</section>
{% endblock %}
