{% extends 'base.html' %}
{% load static %}

{% block content%}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/sign.css' %}">

<section class="about-hero">
  <div class="about-hero-content">
    <h1>Register</h1>
    <p>Home | Register Page</p>
  </div>
</section>

<div class="form-image">
  <div class="fancy-bg fancy-bg-2 padding-x padding-y">
    <div class="form signup">
      <form id="log-in" method="POST" action="{% url 'signin' %}">
  
        {% csrf_token%}
        <!-- {% include '_alert.html' %} -->
  
        <div class="form-group">
          <label for="email">Email</label><br>
          <input type="email" name="email" placeholder="example@gmail.com" required><br><br>
    
          <label for="password">Password:</label><br>
          <input type="password" name="password" id="password" required>
        </div>
  
        <div class="remember">
          <div class="terms">
            <input type="checkbox" >
            <p class="tandc">Remember Me</p>
          </div>
            
          <input id="form-btn" class="form-btn" type="submit" value="Login">
        </div>
  
        <p><a href="{% url 'signup' %}" style="color: white; font-size: 1.4rem; margin-top: 0; ">Register Now</a></p>
      </form>
    </div>
  </div>

  <div class="visual">
    <!-- <img src="https://leo-brokerage.com/assets/img/login-bg.jpg" alt=""> -->
  </div>
</div>

    
{% endblock %}
