{% extends 'base2.html' %}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'css/dashboard2.css' %}">

<section class="dash-card-group">
  <div class="dash-card dash-card--transaction">
    <p class="dash-card-heading">Transaction Log</p>
    <div class="dash-card-content">
      <table class="transaction-table">
         <thead>
           <tr>
             <th>Type</th>
             <th>Amount</th>
             <th>Status</th>
           </tr>
          </thead>
          <tbody>
            {% for invest in invests %}
            <tr>
              <td>{{invest.deposit_type}}</td>
              <td>{{invest.amount}}</td>
              <td>{{invest.status}}</td>
            </tr>
            {% empty %}
            <td colspan="3" style="text-align: center;">You have no Trades. Fund your account.</td>
          {% endfor %}
         </tbody>
       </table>
    </div>
  </div>
</section>
{% endblock %}
